@import "global.scss";

.header {
    /* Location of the image */
    background-image: url("../images/home-header.png");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a background color that will be displayed
      while the background image is loading */
    position: relative;
}


.top-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 522px;
}
.login-btn-light {
    color: #3f72af;
    background-color: #fff;
}
@media (max-width: 1160px) {
    .top-circle {
        display: none;
    }
    .login-container {
        margin: 1rem auto;
    }
    .login-btn-light {
        color: #ffff;
        background-color: #3f72af;
    }
}
.bottom-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
}

.header-form {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 34px;
    backdrop-filter: blur(33px);
    background-color: #fff;
    opacity: 1;
    padding: 54px 82px;
}
@media (max-width: 752px) {
    .header-form {
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 10px !important;
        padding: 54px 33px;
    }
}
.form-icons {
    position: absolute;
    left: 40px;
    z-index: 2;
}

// features
.features-row {
    max-width: 71%;
    // padding: 0 50px;
}

.king-img {
    position: absolute;
    bottom: 0;
    left: 63px;
    height: 106%;
}
@media (max-width: 992px) {
    .features-row {
        max-width: 100%;
    }
    .king-img {
        display: none;
    }
}
