* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: unset;
}

body {
  font-family: tajawal-bold;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@font-face {
  font-family: tajawal-bold;
  src: url("../fonts/Tajawal-Bold.ttf");
}

.font-tajawal-bold {
  font-family: tajawal-bold;
}

@font-face {
  font-family: tajawal-medium;
  src: url("../fonts/Tajawal-Medium.ttf");
}

.font-tajawal-medium {
  font-family: tajawal-medium;
}

.faded {
  opacity: 0.5;
}

.primary-bg {
  background-color: #3f72af !important;
}

.grey-bg {
  background-color: #f7f5f5 !important;
}

.font-size-20 {
  font-size: 20px;
}

.primary-text {
  color: #3f72af !important;
}

.grey-text {
  color: #726767 !important;
}

.black-text {
  color: #000 !important;
}

.border-25 {
  border-radius: 25px;
}

.border-20 {
  border-radius: 20px;
}

.border-5 {
  border-radius: 5px;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 5px #00000029;
          box-shadow: 0px 0px 5px #00000029;
}

.h-55 {
  height: 55px;
}

.nav-shadow {
  -webkit-box-shadow: 0px 1px 3px #00000029;
          box-shadow: 0px 1px 3px #00000029;
}

.nav-container {
  border-radius: 0 0 17px 0;
}

.nav-item {
  font-size: 20px;
  padding: 1rem 2rem;
}

@media (max-width: 769px) {
  .nav-item {
    padding: 1rem;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .language {
    display: none;
  }
}

@media (min-width: 767px) {
  .navbar {
    width: 90%;
  }
}

.login-btn-primary {
  color: #fff;
  background-color: #3f72af;
}

.login-btn-primary:hover {
  background-color: #467fc4;
  color: #fff;
}

.footer-link {
  font-family: tajawal-medium;
  font-size: 27px;
  color: #d0d0d0;
}

.logo-circle {
  display: block;
  padding: 26px 10px;
  background-color: #fff;
  width: 122px;
}

.rectangle-link {
  display: inline-block;
  width: 58px;
  height: 43px;
  background-color: #fff;
  border-radius: 25px;
  text-align: center;
}

.rectangle-link img {
  position: relative;
  top: calc(50% - 13px);
}

.header {
  /* Location of the image */
  background-image: url("../images/home-header.png");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
      the content's height is greater than the image's height */
  /* This is what makes the background image rescale based
      on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
      while the background image is loading */
  position: relative;
}

.top-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 522px;
}

.login-btn-light {
  color: #3f72af;
  background-color: #fff;
}

@media (max-width: 1160px) {
  .top-circle {
    display: none;
  }
  .login-container {
    margin: 1rem auto;
  }
  .login-btn-light {
    color: #ffff;
    background-color: #3f72af;
  }
}

.bottom-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
}

.header-form {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 34px;
  -webkit-backdrop-filter: blur(33px);
          backdrop-filter: blur(33px);
  background-color: #fff;
  opacity: 1;
  padding: 54px 82px;
}

@media (max-width: 752px) {
  .header-form {
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    padding: 54px 33px;
  }
}

.form-icons {
  position: absolute;
  left: 40px;
  z-index: 2;
}

.features-row {
  max-width: 71%;
}

.king-img {
  position: absolute;
  bottom: 0;
  left: 63px;
  height: 106%;
}

@media (max-width: 992px) {
  .features-row {
    max-width: 100%;
  }
  .king-img {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */