.star-rating s:hover,
.star-rating s.active {
    color: #ffef13;
}

.star-rating s {
    color: rgb(180, 180, 180);
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
}
.star-rating {
    padding: 2px;
}
.star-rating s:hover:before,
.star-rating s.rated:before,
.star-rating s.active:before {
    content: "\2605";
}
.star-rating s:before {
    content: "\2605";
}
